{% extends 'base.html' %}
{% load number_filters %}
{% load static %}
{% block title %}تخمین قیمت پیانو - پیانوت{% endblock %}
{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'estimator/estimator.css' %}">
{% endblock %}

{% block content %}

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <h2 class="mb-4 form-title text-center">تخمین قیمت پیانو</h2>
                        <form id="piano-form" class="row g-3" method = "post">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label for="brand" class="form-label">برند</label>
                                <select id="brand" name = "brand" class="form-select" required>
                                    <option value="">انتخاب کنید...</option>
                                    {% for brand in brands%}
                                        <option value="{{ brand }}">{{ brand }}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="model" class="form-label">مدل</label>
                                <select id="model" name = "model" class="form-select" required>
                                <option value="">انتخاب کنید...</option>
                                    {% for model in models%}
                                        <option value="{{ model }}">{{ model }}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="dimension" class="form-label">ابعاد (سانتی‌متر)</label>
                                <input type="number" id="dimension" name="dimension" class="form-control" placeholder="مثلاً 150" min="50" max="300" required>
                            </div>
                            <div class="col-md-6">
                                <label for="material" class="form-label">رنگ بدنه</label>
                                <select id="material" name = "material" class="form-select" required>
                                    <option value="">انتخاب کنید...</option>
                                    {% for color in all_colors%}
                                        <option value="{{ color }}">{{ color }}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="finish" class="form-label">جنس بدنه</label>
                                <select id="finish" name = "finish" class="form-select" required>
                                    <option value="">انتخاب کنید...</option>
                                    {% for finish in all_finish%}
                                        <option value="{{ finish }}">{{ finish }}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="types" class="form-label">نوع پیانو</label>
                                <select id="types" name = "types" class="form-select" required>
                                    <option value="">انتخاب کنید...</option>
                                    <option value="vertical">vertical</option>
                                    <option value="grand">grand</option>
                                </select>                            
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary px-5">تخمین قیمت</button>
                            </div>
                        </form>
                        {% if prediction %}
                        <div id="result" class="mt-4 text-center">
                            <h4>قیمت تخمینی: <span class="fs-2 fw-bold text-success">{{ prediction|three_comma|to_persian_digits}} تومان </span></h4>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% comment %} <div id="charts-section" class="card shadow-sm p-4" style="display:none;">
                    <h3 class="mb-4 text-center">آمار و نمودارها</h3>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <canvas id="brandBarChart"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="materialPieChart"></canvas>
                        </div>
                        <div class="col-12 mt-4">
                            <canvas id="dimensionScatterChart"></canvas>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    {% endblock %}


    {% block extra_js %}
    {% comment %} <script src="{% static "estimator/estimator.js"%}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $('#brand').select2({
            width: '100%',
            selectionCssClass: 'form-select d-flex align-items-center px-0',
            dropdownParent: $('#brand').parent(),
            theme: 'bootstrap-5',
            matcher: function(params, data) {
                if ($.trim(params.term) === '') return data;
                if (typeof data.text === 'undefined') return null;
                if (data.text.toLowerCase().includes(params.term.toLowerCase())) return data;
                return null;
            }
        });
        $('#model').select2({
            width: '100%',
            selectionCssClass: 'form-select d-flex align-items-center px-0',
            dropdownParent: $('#model').parent(),
            theme: 'bootstrap-5',
            matcher: function(params, data) {
                if ($.trim(params.term) === '') return data;
                if (typeof data.text === 'undefined') return null;
                if (data.text.toLowerCase().includes(params.term.toLowerCase())) return data;
                return null;
            }
        });
        $('#material').select2({
            width: '100%',
            selectionCssClass: 'form-select d-flex align-items-center px-0',
            dropdownParent: $('#material').parent(),
            theme: 'bootstrap-5',
            matcher: function(params, data) {
                if ($.trim(params.term) === '') return data;
                if (typeof data.text === 'undefined') return null;
                if (data.text.toLowerCase().includes(params.term.toLowerCase())) return data;
                return null;
            }
        });
        $('#finish').select2({
            width: '100%',
            selectionCssClass: 'form-select d-flex align-items-center px-0',
            dropdownParent: $('#finish').parent(),
            theme: 'bootstrap-5',
            matcher: function(params, data) {
                if ($.trim(params.term) === '') return data;
                if (typeof data.text === 'undefined') return null;
                if (data.text.toLowerCase().includes(params.term.toLowerCase())) return data;
                return null;
            }
        });
        $('#types').select2({
            width: '100%',
            selectionCssClass: 'form-select d-flex align-items-center px-0',
            dropdownParent: $('#types').parent(),
            theme: 'bootstrap-5',
            matcher: function(params, data) {
                if ($.trim(params.term) === '') return data;
                if (typeof data.text === 'undefined') return null;
                if (data.text.toLowerCase().includes(params.term.toLowerCase())) return data;
                return null;
            }
        });
    </script>
    {% endblock %}
