{% extends 'base.html' %}
{% load static %}
{% block title %}نت کده - پیانوت{% endblock %}
{% load star_tags %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'notes/sheets.css' %}">
{% endblock %}
{% load humanize %}
{% block content %}
    <!-- Main Content -->
    <div class="sheets-container">
        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-3">
                    <div class="sidebar">
                        <h3 class="sidebar-title">فیلتر ها</h3>
                        
                        <div class="filter-section">
                            <h4>سبک موسیقی</h4>
                            <ul class="filter-list">
                                <li><a href="#" class="active">همه</a></li>
                                <li><a href="#">کلاسیک</a></li>
                                <li><a href="#">جاز</a></li>
                                <li><a href="#">پاپ</a></li>
                                <li><a href="#">سنتی</a></li>
                            </ul>
                        </div>
                        <div class="filter-section">
                            <h4>سطح دشواری</h4>
                            <ul class="filter-list">
                                <li><a href="#">مبتدی</a></li>
                                <li><a href="#">متوسط</a></li>
                                <li><a href="#">پیشرفته</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Sheet Music Grid -->
                <div class="col-lg-9">
                    <div class="input-with-icon mb-4">
                        <input type="text" id="searchInput" class="form-control search-bar" placeholder="جستجو در نت‌ها..." onkeyup="debounceSearch()">
                        <i class="icon bi bi-search"></i>
                        <div id="results" class="search-results mt-3">

                        </div>
                    </div>
                    <div class="sheets-grid">
                        <div class="row g-4">
                            <!-- Sheet Music Items -->
                            {% for note in notes %}
                            <div class="col-md-6 col-lg-4">
                                <a href="{% url 'note-detail' note.id %}">

                                    <div class="sheet-card">
                                        <img src="{{ note.notesheet.url }}" alt="نت موسیقی" class="sheet-preview">
                                        <div class="sheet-info">
                                            <h3>{{ note.name }}</h3>
                                            <p class="composer">{{note.composer}}</p>
                                            <div class="d-flex ">
                                                <div class="sheet-rating mb-2">
                                                    {% for i in "12345" %}
                                                        {% with note.rate|star_class:forloop.counter as star_class %}
                                                            <i class="icon bi {{ star_class }}"
                                                               {% if star_class == "bi-star-half" %}
                                                                   style="transform: scaleX(-1); display: inline-block;"
                                                               {% endif %}>
                                                            </i>
                                                        {% endwith %}
                                                    {% endfor %}
                                                </div>
                                                <p class="mx-2 opacity-50">|</p>
                                                <div class="view_count">
                                                    <span class="views">{{ note.views|intcomma|to_persian_digits }}</span>
                                                    <i class="bi bi-eye-fill"></i>
                                                </div>
                                            </div>
                                            <div class="sheet-meta">
                                                <span class="difficulty">{{ note.level_value }}</span>
                                                {%for genre in note.genre%}
                                                    <span class="genre">{{genre}}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                             {% endfor %}
                        </div>
                        <!-- Pagination -->
                        <nav class="mt-5" aria-label="صفحه بندی">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">قبلی</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">۱</a></li>
                                <li class="page-item"><a class="page-link" href="#">۲</a></li>
                                <li class="page-item"><a class="page-link" href="#">۳</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">بعدی</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function searchArticles() {
            const query = document.getElementById("searchInput").value;
        
            if (!query.trim()) {
                document.getElementById("results").innerHTML = "";
                return;
            }
        
            fetch(`/ajax/search/?q=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then (data => {
                    const resultsDiv = document.getElementById("results");
                    resultsDiv.innerHTML = "";
        
                    if (data.results.length === 0) {
                        resultsDiv.innerHTML = "<p>نتیجه‌ای یافت نشد.</p>";
                        return;
                    }
        
                    data.results.forEach(item => {
                        const div = document.createElement("div");
                        div.innerHTML = `<strong>${item.name}</strong><br>`;
                        resultsDiv.appendChild(div);
                    });
                });
        }
        
        // Debounce for smoother UX
        let debounceTimeout;
        function debounceSearch() {
            clearTimeout(debounceTimeout);
            debounceTimeout = setTimeout(searchArticles, 300);
        }
    </script>
    {% endblock %}
    <!-- Footer -->
